<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GoMonit</title>
    <meta name="description" content="GoMonit">
    <meta name="author" content="Depado">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="static/semantic/semantic.min.css">
    <style type="text/css">
        body {
            background-image: url("static/img/body_bg.png");
            background-repeat: repeat;
            background-color: #DADADA;
        }
    </style>
</head>

<body>
    <h1 class="ui center aligned header"></h1>
    <main class="ui page grid">
        <div class="row">
            <div class="ui stackable cards">
                {{ range $index, $element := .all }}
                <a class="ui card {{ if .Up }}green{{ else }}red{{ end }}" href="{{ .URL }}">
                    <div class="content">
                        <img class="right floated mini ui image" {{ if .Icon }}src="{{ .Icon }}" {{ end }}>
                        <div class="header">{{ .Name }}</div>
                        <div class="meta">{{ .ShortURL }}</div>
                    </div>
                    <div class="extra content">
                        {{ if .RespTime }}
                        <i class="setting icon"></i> {{ .RespTime }}
                        <br /> {{ end }} {{ if .Up }}
                        <span class="right floated">
                            <p style="color:#21BA45;">{{ .Status }} <i class="check icon green"></i></p>
                        </span>
                        {{ else }}
                        <span class="right floated">
                            <p style="color:#DB2828;">{{ .Status }}<i class="remove icon red"></i></p>
                        </span>
                        {{ end }}
                        <i class="wait icon"></i> {{ .Last }}
                    </div>
                </a>
                {{ end }}
            </div>
        </div>
    </main>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/semantic/semantic.min.js"></script>
</body>

</html>
