<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GoMonit</title>
    <meta name="description" content="GoMonit">
    <meta name="author" content="Depado">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="static/semantic/semantic.min.css">
    <style type="text/css">
        body {
            background-image: url("static/img/body_bg.png");
            background-repeat: repeat;
        }

        body.pushable > .pusher {
            background-image: url("static/img/body_bg.png");
            background-repeat: repeat;
        }
    </style>
</head>

<body>
    {{ range $index, $element := .all }} {{ if .BuildAPI }}
    <div class="ui left wide sidebar vertical menu" id="sidebar-builds-{{ $index }}">
        <h2 class="ui center aligned icon header">
          <img src="/static/custom/drone.svg" alt="drone"><br />
          <a href="{{ .BuildURL }}" target="_blank">{{ .Name }}</a>
          <div class="sub header">Last Builds</div>
        </h2>
        {{ $buildurl := .BuildURL }}
        <div class="ui feed">
            {{ range $i, $e := .LastBuilds }}
            <div class="event">
                <div class="label">
                    <img src="{{ if ne .AuthorAvatar "" }}{{ .AuthorAvatar }}{{ else }}/static/img/anon.jpg{{ end }}" alt="avatar">
                </div>
                <div class="content">
                    <div class="summary">
                        <span>{{ .Author }} triggered</span>
                        <a class="user" href="{{ $buildurl }}{{ .Number }}" target="_blank">
                            Build #{{ .Number}}
                            {{ if eq .Status "success" }}
                            <span class="right floated" style="color:#21BA45;"><i class="check icon"></i> </span>
                            {{ end }}
                            {{ if eq .Status "failure" }}
                            <span class="right floated" style="color:#DB2828;"><i class="remove icon"></i></span>
                            {{ end }}
                        </a>
                    </div>
                    <div class="extra text">
                        <i class="fork icon"></i> {{ .Branch }}
                    </div>
                    <div class="meta">
                        <a href="{{ .LinkURL }}" target="_blank">{{ .Message }}</a>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    {{ end }}
    {{ end }}
    {{ range $index, $element := .all }} {{ if .RepoURL }}
    <div class="ui left wide sidebar vertical menu" id="sidebar-commits-{{ $index }}">
        <h2 class="ui center aligned icon header">
          <i class="github alternate icon"></i>
          <a href="{{ .RepoURL }}" target="_blank">{{ .Name }}</a>
          <div class="sub header">Last Commits</div>
        </h2>
        <br />
        <div class="ui feed">
            {{ range $i, $e := .LastCommits }}
            <div class="event">
                <div class="label">
                    <img src="{{ if ne .Author.AvatarURL "" }}{{ .Author.AvatarURL }}{{ else }}/static/img/anon.jpg{{ end }}" alt="avatar">
                </div>
                <div class="content">
                    <div class="summary">
                        <a class="user" href="{{ .Author.HTMLURL }}" target="_blank">{{ .Commit.Author.Name }}</a> authored
                    </div>
                    <div class="meta">
                        <i class="clock icon"></i> {{ .Commit.Author.Date }}<br />
                        <i class="chat icon" style="margin-left: 0;"></i> {{ .Commit.CommentCount }} Comments<br />
                        <a href="{{ .HTMLURL }}" target="_blank" style="margin-left: 0;"><i class="fork icon"></i> {{ .Commit.Message }}</a>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    {{ end }} {{ end }}

    <div class="pusher">
        <main class="ui page grid">
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="ui stackable cards">
                    {{ range $index, $element := .all }}
                    <div class="ui card {{ if .Up }}green{{ else }}red{{ end }}">
                        <div class="content">
                            <img class="right floated mini ui image" {{ if .Icon }}src="{{ .Icon }}" alt="{{ .Name }}" {{ end }}>
                            <div class="header">{{ .Name }}</div>
                            <div class="meta"><a href="{{ .URL }}">{{ if eq .ShortURL "" }}-{{ else }}{{ .ShortURL }}{{ end }}</a></div>
                        </div>
                        <div class="extra content">
                            <i class="setting icon"></i>{{ if .RespTime }}{{ .RespTime }}{{ else }}-{{ end }}
                            <span class="right floated">
                            {{ if .Host }}{{ .Host }}{{ else }}-{{ end}} <i class="server icon"></i>
                        </span>
                            <br />
                            <i class="wait icon"></i>{{ if .Last }}{{ .Last }}{{ else }}-{{ end }}
                            {{ if eq .URL ""}}
                            <span class="right floated">- <i class="help icon"></i></span>
                            {{ else }}
                            {{ if .Up }}
                            <span class="right floated" style="color:#21BA45;">{{ .Status }} <i class="check icon"></i></span> {{ else }}
                            <span class="right floated" style="color:#DB2828;">{{ .Status }} <i class="remove icon"></i></span> {{ end }}{{ end }}
                            <br /> {{ if .RepoURL }}
                            <a href="#" style="color:#6A6AFF;" id="commits-{{ $index }}"><i class="github alternate icon"></i> Commits</a> {{ else }}
                            <i class="github alternate icon"></i> No Commits{{ end }}

                            <span class="right floated">
                            {{ if .BuildAPI }}
                                {{ if eq .LastBuild "success" }}
                                    <a href="{{ .CurrentBuildURL }}" style="color:#21BA45;" id="builds-{{ $index }}">Success <i class="configure icon"></i></a>
                                {{ end }}
                                {{ if eq .LastBuild "pending"}}
                                    <a href="{{ .CurrentBuildURL }}" style="color:#ffb347;" id="builds-{{ $index }}">Pending <i class="configure icon"></i></a>
                                {{ end }}
                                {{ if eq .LastBuild "failure"}}
                                    <a href="{{ .CurrentBuildURL }}" style="color:#DB2828;" id="builds-{{ $index }}">Failure <i class="configure icon"></i></a>
                                {{ end }}
                            {{ else }}
                                No build <i class="configure icon"></i>
                            {{ end }}
                        </span>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
            <div class="row">&nbsp;</div>
        </main>
    </div>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/semantic/semantic.min.js"></script>
    <script>
        $('.ui.sidebar').sidebar({
            transition: 'overlay'
        });
        $("a[id^='commits-']").click(function(evt) {
            var commitsid = $(this).attr('id').split('-')[1];
            console.log("test")
            $("#sidebar-commits-" + commitsid).sidebar('toggle');
            evt.preventDefault();
        });
        $("a[id^='builds-']").click(function(evt) {
            var buildsid = $(this).attr('id').split('-')[1];
            $("#sidebar-builds-" + buildsid).sidebar('toggle');
            evt.preventDefault();
        });
    </script>
</body>

</html>
