<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GoMonit</title>
    <meta name="description" content="GoMonit">
    <meta name="author" content="Depado">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="static/semantic/semantic.min.css">
    <style type="text/css">
        body {
            background-image: url("static/img/body_bg.png");
            background-repeat: repeat;
            background-color: #DADADA;
        }
    </style>
</head>

<body>
    <main class="ui page grid">
        <div class="row">
            <div class="ui stackable cards">
                {{ range $index, $element := .all }}
                <div class="ui card {{ if .Up }}green{{ else }}red{{ end }}">
                    <div class="content">
                        <img class="right floated mini ui image" {{ if .Icon }}src="{{ .Icon }}" alt="{{ .Name }}" {{ end }}>
                        <div class="header">{{ .Name }}</div>
                        <div class="meta"><a href="{{ .URL }}">{{ .ShortURL }}</a></div>
                    </div>
                    <div class="extra content">
                        <i class="setting icon"></i>{{ if .RespTime }}{{ .RespTime }}{{ else }}-{{ end }}
                        <span class="right floated">
                            {{ if .Host }}{{ .Host }}{{ else }}-{{ end}} <i class="server icon"></i>
                        </span>
                        <br />
                        <i class="wait icon"></i>{{ if .Last }}{{ .Last }}{{ else }}-{{ end }}
                        {{ if .Up }}
                            <span class="right floated" style="color:#21BA45;">{{ .Status }} <i class="check icon"></i></span>
                        {{ else }}
                            <span class="right floated" style="color:#DB2828;">{{ .Status }}<i class="remove icon"></i></span>
                        {{ end }}
                        <br />
                        {{ if .RepoURL }}
                            <a href="{{ .RepoURL }}" style="color:#6A6AFF;"><i class="github alternate icon"></i> Source Code</a>
                        {{ else }}
                            <i class="github alternate icon"></i> No Source Code
                        {{ end }}

                        <span class="right floated">
                            {{ if .BuildAPI }}
                                {{ if eq .LastBuild "success" }}
                                    <a href="{{ .CurrentBuildURL }}" style="color:#21BA45;">Success <i class="configure icon"></i></a>
                                {{ end }}
                                {{ if eq .LastBuild "pending"}}
                                    <a href="{{ .CurrentBuildURL }}" style="color:#ffb347;">Pending <i class="configure icon"></i></a>
                                {{ end }}
                                {{ if eq .LastBuild "failure"}}
                                    <a href="{{ .CurrentBuildURL }}" style="color:#DB2828;">Failure <i class="configure icon"></i></a>
                                {{ end }}
                            {{ else }}
                                No build <i class="configure icon"></i>
                            {{ end }}
                        </span>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </main>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/semantic/semantic.min.js"></script>
</body>

</html>
